/* Style universal yang ngaruh ke semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Gaya untuk body, header, section, footer, dan elemen lainnya */
body {
    line-height: 1.6;
    background-color: #eeeeee;
    color: #333;
    text-align: justify;
}

/* header */
header {
    background-color: #222;
    color: #fff;
    padding: 40px;
    text-align: center;
}

/* section */
section {
    padding: 10px;
    max-width: 900px;
    margin: auto;
}

/* heading h2 */
h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* project */
.project {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
}

/* project span */
.project span {
    font-size: 0.9em;
    color: #666;
}
/* tech */
.tech {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9em;
}

/* list items */
ul li {
    margin-bottom: 8px; 
    margin-left: 20px;  
}

/* footer */
footer {
    text-align: center;
    padding: 20px;
    background: #d3d3d3;
    text-align: center;
}

/* link */
a{
    color: #000000;
    text-decoration: none;
}

/* button */
button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
}

button:hover {
    background-color: #adadad;
}